/*------------------------------------------------------------------
Bootstrap Admin Template by EGrappler.com
------------------------------------------------------------------*/



/*------------------------------------------------------------------
[1. Shortcuts / .shortcuts]
*/

.shortcuts {
	text-align: center;
}

.shortcuts .shortcut {
	width: 22.50%;
	display: inline-block;
	padding: 12px 0;
	margin: 0 .9% 1em;
	vertical-align: top;

	text-decoration: none;

	background: #f9f6f1;

	border-radius: 5px;
}

.shortcuts .shortcut .shortcut-icon {
	margin-top: .25em;
	margin-bottom: .25em;

	font-size: 32px;
	color: #545454;
}

.shortcuts .shortcut:hover {
	background: #f442c2;
}

.shortcuts .shortcut:hover span{
	color: #fff;
}

.shortcuts .shortcut:hover .shortcut-icon {
	color: #fff;
}

.shortcuts .shortcut-label {
	display: block;

	font-weight: 400;
	color: #545454;
}


.shortcuts .shortcut:active {
	background: #f442c2;
}

.shortcuts .shortcut:active span{
	color: #fff;
}

.shortcuts .shortcut:active .shortcut-icon {
	color: #fff;
}


/* .shortcuts a:active {
	background-color: black;
} */

.rubah-warna {
	background: #f442c2;
}


/*------------------------------------------------------------------
[2. Stats / .stats]
*/

.stats {
	width: 100%;
	display: table;
	padding: 0 0 0 10px;
	margin-top: .5em;
	margin-bottom: 1.9em;
}

.stats .stat {
	display: table-cell;
	width: 40%;
	vertical-align: top;

	font-size: 11px;
	font-weight: bold;
	color: #999;
}

.stat-value {
	display: block;
	margin-bottom: .55em;

	font-size: 30px;
	font-weight: bold;
	letter-spacing: -2px;
	color: #444;
}

.stat-time {
	text-align: center;
	padding-top: 1.5em;
}

.stat-time .stat-value {
	color: #19bc9c;
	font-size: 40px;
}

.stats #donut-chart {
	height: 100px;
	margin-left: -20px;
}





/*------------------------------------------------------------------
[3. News Item / .news-items]
*/

.news-items {
	margin: 1em 0 0;
}

.news-items li {
	display: table;
	padding: 0 2em 0 1.5em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px dotted #CCC;
}

.news-items li:last-child { padding-bottom: 0; border: none; }

.news-item-date {
	display: table-cell;
}

.news-item-detail {
	display: table-cell;
}

.news-item-title {
	font-size: 13px;
	font-weight: 600;
}

.news-item-date {
	width: 75px;
	vertical-align: middle;
	text-align: center;

}

.news-item-day {
	display: block;
	margin-bottom: .25em;

	font-size: 24px;
	color: #888;
}

.news-item-preview {
	margin-bottom: 0;

	color: #777;
}

.news-item-month {
	display: block;
	padding-right: 1px;

	font-size: 12px;
	font-weight: 600;
	color: #888;
}



/*------------------------------------------------------------------
[4. Action Table / .action-table]
*/

.action-table .btn-small {
	padding: 4px 5px 5px;

	font-size: 10px;
}

.action-table .td-actions {
	width: 80px;

	text-align: center;
}

	.action-table .td-actions .btn {
		margin-right: .5em;
	}

	.action-table .td-actions .btn:last-child {
		margin-rigth: 0;
	}



#big_stats
{
	width: 100%;
	display: table;
	margin-top: 1.5em;


}

.big-stats-container .widget-content {
	border:0;
}

#big_stats .stat
{
	width: 25%;
	height: 90px;
	text-align: center;
	display: table-cell;
	padding: 0;
	position: relative;

	border-right: 1px solid #CCC;
	border-left: 1px solid #FFF;
}
#big_stats  i { font-size:30px; display:block; line-height: 40px; color:#b2afaa;}
#big_stats .stat:hover i {color:#19bc9c;}

h6.bigstats{margin: 20px;
border-bottom: 1px solid #eee;
padding-bottom: 20px;
margin-bottom: 26px;}

#big_stats .stat:first-child {
	border-left: none;
}

#big_stats .stat:last-child {
	border-right: none;
}

#big_stats .stat h4
{
	font-size: 11px;
	font-weight: bold;
	color: #777;
	margin-bottom: 1.5em;
}

#big_stats .stat .value
{
	font-size: 45px;
	font-weight: bold;
	color: #545454;
	line-height: 1em;
}



@media all and (max-width: 950px) and (min-width: 1px) {

	#big_stats {
		display: block;
		margin-bottom: -40px;
	}

	#big_stats .stat {
		width: 49%;
		display: block;
		margin-bottom: 3em;
		float: left;
	}

	#big_stats .stat:nth-child(2) {
		border-right: none;
	}

	#big_stats .stat:nth-child(3) {
		border-left: none;
	}

}

@media (max-width: 767px) {
	#big_stats .stat .value {
		font-size: 40px;
	}
}




@media (max-width: 979px) {

	.shortcuts .shortcut {
		width: 31%;
	}
}


@media (max-width: 480px) {

	.stats .stat {

		margin-bottom: 3em;
	}

	.stats .stat .stat-value {
		margin-bottom: .15em;

		font-size: 20px;
	}

	.stats {
		float: left;

		display: block;

		margin-bottom: 0;
	}

	#chart-stats {
		margin: 2em 0 1em;
	}

	.shortcuts .shortcut {
		width: 48%;
	}
}
